<span class="d-inline-block" tabindex="0" data-bs-placement="top" title="Reviewer Login" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Click here to log in as a reviewer. This log in is only for registered reviewers. If you are interested in reviewing for this journal, please send an email to the editorial office to register you as a reviewer.">

<a href="//epublishing.io/journals/auth/{{ get_var('JOURNAL_ID') }}/reviewer/login" target="_blank" rel="noopener noreferrer">
    <img src="/resources/assets/images/reviewer_login.svg" class="py-1" style="height: 70px" alt="">
</a>
</span>