<span class="d-inline-block" tabindex="0" data-bs-placement="top" title="Submit an Article" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Click here if you are submitting a new article (for the first time).">
<a href="//epublishing.io/journals/{{ get_var('JOURNAL_ID') }}/submit_manuscript/register" target="_blank" rel="noopener noreferrer">
    <img src="/resources/assets/images/submit_article.svg" class="py-1" style="height: 70px" alt="">
</a>
</span>