{% extends "layout.twig" %}
{% block content  %}
    <div class="py-5 bg-light">
        <div class="container text-center">
            <h1>{{ page_title }}</h1>
        </div>
    </div>
    <div class="container my-5">
        {{ content | raw}}
    </div>
{%  endblock  %}