<span class="d-inline-block" tabindex="0" data-bs-placement="top" title="Author Login" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Click here to log into the journal system to continue an incomplete/draft/re-submission or revised submission and to check the status of your submissions.">

<a href="//epublishing.io/journals/auth/{{ get_var('JOURNAL_ID') }}/author/login" target="_blank" rel="noopener noreferrer">
    <img src="/resources/assets/images/author_login.svg" class="py-1" style="height: 70px" alt="">
</a>

</span>