<a href="//epublishing.io/journals/7/submit_manuscript/register" target="_blank" rel="noopener noreferrer">
    <img src="/resources/assets/images/submit_article.svg" class="py-1" style="width: 280px" alt="">
</a>