{% extends "layout.twig" %}
{% block content  %}
    <div class="py-5 bg-light">
        <div class="container text-center">
            <h1>Submit Manuscript</h1>
        </div>
    </div>
    <div class="container my-5">
        <div class="cognito">
            <script src="https://www.cognitoforms.com/s/n-oxFec6v0SazUVQi5Fm9A"></script>
            <script>Cognito.load("forms", { id: "39" });</script>
        </div>
    </div>
{%  endblock  %}